{% extends "account/base.html" %}

{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block css %}



<style>
.login-background-img {
    height: 100vh;
    background-image: url("{% static "img/login-background.jpg" %}");
    background-size: cover;
    background-position: center;
}
</style>


{% endblock %}

{% block cover_page %}{% endblock %}


{% block content %}


<div class="login-background-img">
  <div class="login-box-container">
    <div class="login-box">
      <div class="login-box-header"><h4>會員登入</h4></div>

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <input autofocus="autofocus" id="id_login" maxlength="30" name="login" placeholder="請輸入帳號/EMAIL" type="text" />
          <input id="id_password" name="password" placeholder="請輸入密碼" type="password" />
          <button type="submit" class="primaryAction login-btn">登入</button>
        </form>

          {% load socialaccount %}

          {% get_providers as socialaccount_providers %}

          {% for provider in socialaccount_providers %}
          {% if provider.id == "openid" %}
           <button type="submit" class="fb-login-btn" onclick="window.location='{% provider_login_url provider.id openid=brand.openid_url process=process %}';">
             <i class="fa fa-facebook" aria-hidden="true"></i>
             {{brand.name}}
           </button>
          {% endif %}
           <button type="submit" class="fb-login-btn" onclick="window.location='{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}';">
             <i class="fa fa-facebook" aria-hidden="true"></i>
             {{provider.name}}帳號登入
           </button>
          {% endfor %}

        <div class="login-box-footer">
        <a class="login-register" href="{{ signup_url }}">立即註冊</a>
        <a class="login-password-retrieve" href="{% url 'account_reset_password' %}">忘記密碼</a>
      </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}

{% block js %}

<script>
    function init() {
        window.addEventListener('scroll', function(e) {
            var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                shrinkOn = 300,
                header = document.querySelector(".m-nav-container");
            if (distanceY > shrinkOn) {
                classie.add(header, "m-nav-container-onscroll");
            } else {
                if (classie.has(header, "m-nav-container-onscroll")) {
                    classie.remove(header, "m-nav-container-onscroll");
                }
            }
        });
    }
    window.onload = init();
</script>

{% endblock %}
