{% extends "account/base.html" %}

{% load static %}

{% load i18n %}

{% block css %}
<style>
.login-background-img {
    height: 100vh;
    background-image: url("{% static "img/login-background.jpg" %}");
    background-size: cover;
    background-position: center;
}
</style>
{% endblock %}


{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="login-background-img">
  <div class="login-box-container">
    <div class="login-box">
      <div class="login-box-header"><h4>確定要登出嗎？</h4></div>



        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button type="submit" class="primaryAction login-btn">登出</button>
        </form>
    </div>
  </div>
</div>


{% endblock %}
