{% extends "account/base.html" %}

{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block css %}
<style>
.login-background-img {
    height: 100vh;
    background-image: url("{% static "img/login-background.jpg" %}");
    background-size: cover;
    background-position: center;
}
</style>
{% endblock %}

{% block content %}


<div class="login-background-img">
  <div class="login-box-container">
    <div class="login-box">
      <div class="login-box-header"><h4>忘記密碼</h4></div>

      <div class="login-box-footer">
          請輸入您註冊時填寫的E-mail，我們會將更改密碼的連結傳送給您。
      </div>
      <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
          {% csrf_token %}
          <input id="id_email" name="email" placeholder="請輸入E-mail" size="30" type="email">

          <button type="submit" class="primaryAction login-btn">重設密碼</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}
