{% extends 'base.html' %}

{% load static %}

{% block meta_description %}{% endblock %}
{% block author %}{% endblock %}

{% block og_url %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}
{% block og_image %}{% endblock %}

{% block title %}關於Hubox{% endblock %}

{% block css %}
<style>
.about-cover-section{
  background-image: url("{% static "img/about-us-cover.jpg" %}");
}

.about-section-content-card-1{
  background-image: url("{% static "img/about-card.jpg" %}");
}
.about-section-content-card-2{
  background-image: url("{% static "img/about-card-2.jpg" %}");
}
.about-section-content-card-3{
  background-image: url("{% static "img/about-card-3.jpg" %}");
}


</style>


{% endblock %}


{% block cover_page %}{% endblock %}

{% block content %}
<section class="about-cover-section">
  <div class="about-cover-caption">
  <h1>We are Hubox</h1>
  <p>學習 X 品味 Ｘ 生活</p>
  </div>
</section>
<section class="about-video-section">
  <div class="video-section-content-container">
    <div class="video-section-title-holder">
      <h1>What we do</h1>
      <p>我們擁有許多來自不同領域的有趣學習體驗，用短短的時間讓您的人生更精彩</p>
      <span>"Learning is a process of experiencing the beauty of our world"</span>
    </div>
    <div class="about-video-container">
      <video src="{% static "video/hubox.mov" %}" poster="{% static "img/about-us.jpg" %}" width="100%" height="100%" class="mejs__player" data-mejsoptions='{"alwaysShowControls": "true"}'></video>
    </div>
  </div>
</section>

<section class="about-content-section">
    <div class="about-section-container">
      <div class="video-section-title-holder">
        <h1>How we play</h1>
        <p>我們擁有許多來自不同領域的有趣學習體驗，您可以用短短的時間，親民的價格讓您的人生更精彩</p>
        <span>"Inspire the world through your unique taste"</span>
      </div>
        <div class="about-section-content-row">
            <div class="about-section-content-card-1 fadeInBlock">
                <div class="about-section-content-info-holder">
                  <div class="about-section-content-info-title"><h1>Learn</h1></div>
                    <div class="about-section-content-info-content">學習不再只是書本上的枯燥乏味，走過路過，所有你曾經感興趣的都可以是一種學習。</div>
                </div>
            </div>
            <div class="about-section-content-card-2 fadeInBlock">
                <div class="about-section-content-info-holder">
                  <div class="about-section-content-info-title"><h1>Taste</h1></div>
                    <div class="about-section-content-info-content">不再因為無聊而煩惱，想不到行程而爭吵;透過Hubox你可以增進朋友間的情誼、培養個人興趣甚至發現第二專長。</div>
                </div>
            </div>
            <div class="about-section-content-card-3 fadeInBlock">
                <div class="about-section-content-info-holder">
                  <div class="about-section-content-info-title"><h1>Life</h1></div>
                    <div class="about-section-content-info-content">無論身在何處，無論位於何時，加入Hubox讓生活更精彩吧!</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static "js/parallax.min.js" %}"></script>

<script>
$(function() {
            $(window).scroll(function() {


                $('.fadeInBlock').each(function(i) {

                    var bottom_of_object = $(this).position().top + $(this).outerHeight();
                    var bottom_of_window = $(window).scrollTop() + $(window).height();

                    /* Adjust the "200" to either have a delay or that the content starts fading a bit before you reach it  */
                    bottom_of_window = bottom_of_window + 200;

                    if (bottom_of_window > bottom_of_object) {

                        $(this).animate({
                            'opacity': '1'
                        }, 500);

                    }
                });

            });
        });
    </script>

    <script>
        $('.parallax-window').parallax({
            naturalWidth: 1280,
            naturalHeight: 720,
            bleed: 100
        });
    </script>

    <script>
        function init() {
            window.addEventListener('scroll', function(e) {
                var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                    shrinkOn = 300,
                    header = document.querySelector(".m-nav-container");
                if (distanceY > shrinkOn) {
                    classie.add(header, "m-nav-container-onscroll");
                } else {
                    if (classie.has(header, "m-nav-container-onscroll")) {
                        classie.remove(header, "m-nav-container-onscroll");
                    }
                }
            });
        }
        window.onload = init();
    </script>
    {% endblock %}
