{% extends 'base.html' %}

{% load static %}

{% block meta_description %}{% endblock %}
{% block author %}{% endblock %}

{% block og_url %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}
{% block og_image %}{% endblock %}

{% block title %}{% endblock %}

{% block css %}

<style>

.join-section-content-card-1{
  background-image: url("{% static "img/join-card-1.jpg"%}");
}
.join-section-content-card-2{
  background-image: url("{% static "img/join-card-2.jpg"%}");
}
.join-section-content-card-3{
  background-image: url("{% static "img/join-card-3.jpg"%}");
}
.join-section-content-card-4{
  background-image: url("{% static "img/join-card-4.jpg"%}");
}
.join-section-content-card-5{
  background-image: url("{% static "img/join-card-5.jpg"%}");
}
.join-section-content-card-6{
  background-image: url("{% static "img/join-card-6.jpg"%}");
}

</style>


{% endblock %}


{% block body %}
<body data-hijacking="off" data-animation="fixed">
  {% block nav_bar %}

      <!-- Navigation starts here-->
    {% include 'nav.html' %}
      <!-- navigation ends here -->
  {% endblock %}
    <!-- body starts here -->
    <div class="content-wrap">
        <section class="join-cover-section parallax-window" data-parallax="scroll" data-image-src="{% static 'img/join-us.jpg' %}">
            <div class="join-cover-caption-holder">
                <div class="join-cover-caption-top">
                    <h1>JOIN</h1>
                </div>
                <div class="join-cover-caption-bottom">
                    <img src="{% static 'img/logo-big.png' %}" />
                </div>
                <div class="join-cover-caption-btn-holder">
                  <a href="#" type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#Modal">馬上成為合作夥伴</a>
                </div>
            </div>
        </section>
        <section class="about-content-section">
            <div class="about-section-container">
                <div class="video-section-title-holder">
                    <h1>Work with us</h1>
                    <p>Hubox相信除非大家都贏，不然沒有人贏</p>
                    <span>"No one wins until everyone wins"</span>
                </div>
                <div class="about-section-content-row">
                    <div class="join-section-content-card-1 fadeInBlock">
                        <div class="join-section-content-info-holder">
                            <div class="join-section-content-info-title">
                                <h1>無需自行上架</h1></div>
                            <div class="about-section-content-info-content">學習不再只是書本上的枯燥乏味，走過路過，所有你曾經感興趣的都可以是一種學習。</div>
                        </div>
                    </div>
                    <div class="join-section-content-card-2 fadeInBlock">
                        <div class="join-section-content-info-holder">
                            <div class="join-section-content-info-title">
                                <h1>數位整合行銷</h1></div>
                            <div class="about-section-content-info-content">不再因為無聊而煩惱，想不到行程而爭吵;透過Hubox你可以增進朋友間的情誼、培養個人興趣甚至發現第二專長。</div>
                        </div>
                    </div>
                    <div class="join-section-content-card-3 fadeInBlock">
                        <div class="join-section-content-info-holder">
                            <div class="join-section-content-info-title">
                                <h1>專屬客服</h1></div>
                            <div class="about-section-content-info-content">無論身在何處，無論位於何時，加入Hubox讓生活更精彩吧!</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-content-section">
            <div class="about-section-container">
                <div class="video-section-title-holder">
                    <h1>Play with us</h1>
                    <p>Hubox不只是平台，更是您的專屬品牌顧問</p>
                    <span>"Brand is the only way out"</span>
                </div>
                <div class="about-section-content-row">
                    <div class="join-section-content-card-4 fadeInBlock">
                        <div class="join-section-content-info-holder">
                            <div class="join-section-content-info-title">
                                <h1>點擊加入</h1></div>
                            <div class="about-section-content-info-content">馬上點擊成為合作夥伴鈕</div>
                        </div>
                    </div>
                    <div class="join-section-content-card-5 fadeInBlock">
                        <div class="join-section-content-info-holder">
                            <div class="join-section-content-info-title">
                                <h1>填寫申請表</h1></div>
                            <div class="about-section-content-info-content">請詳細填寫表單內容，並留下您的聯絡方式</div>
                        </div>
                    </div>
                    <div class="join-section-content-card-6 fadeInBlock">
                        <div class="join-section-content-info-holder">
                            <div class="join-section-content-info-title">
                                <h1>專員與您聯繫</h1></div>
                            <div class="about-section-content-info-content">在收到您的申請後，Hubox專員會儘速與您聯繫</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="join-bottom-section parallax-window" data-parallax="scroll" data-image-src="{% static 'img/join-us-2.jpg' %}">
            <div class="join-bottom-section-caption-holder">
                <div class="join-bottom-section-caption">
                    Hubox很期待每一次的合作與溝通，無論您的專業是什麼，我們都希望能與您一起提供更多優質且多元的學習體驗
                </div>
                <div class="join-bottom-section-btn-holder">
                    <a href="#" type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#Modal">成為合作夥伴</a>
                </div>
                <div class="join-bottom-section-btn-holder">
                    <a href="#" type="button" class="btn btn-info btn-lg">下載企劃書</a>
                </div>
            </div>
        </section>
        <section class="footer-section">
                  <div class="footer-container">
                      <ul class="footer-item-container">
                          <li class="footer-item">
                              <a href="{% url "about" %}">關於我們</a>
                          </li>
                          <li class="footer-item footer-border-left">
                              <a href="#">會員條款</a>
                          </li>
                          <li class="footer-item footer-border-left">
                              <a href="#">隱私條款 </a>
                          </li>
                          <li class="footer-item footer-border-left">
                              <a href="{% url "join" %}">加入我們</a>
                          </li>
                          <li class="footer-item footer-border-left">
                              <a href="http://hubox.life/faq/">FAQ</a>
                          </li>
                      </ul>
                      <div class="footer-item-container">
                          <p>客服時間：10:00am-9:00pm 客服專線：(02)2341-3023</p>
                      </div>
                      <ul class="footer-item-container">
                          <li class="footer-social-item">
                              <a href="https://www.facebook.com/hubox.life/" target="_blank"><img src="{% static "img/fb_icon.png" %}" /></a>
                          </li>
                          <li class="footer-social-item">
                              <a href="https://www.instagram.com/hubox.life/" target="_blank"><img src="{% static "img/ig_icon.png" %}" /></a>
                          </li>
                          <li class="footer-social-item">
                              <a href="https://www.youtube.com/channel/UC4Emf5_O0w3J7T9aWyBKtzw" target="_blank"><img src="{% static "img/youtube_icon.png" %}" /></a>
                          </li>
                          <li class="footer-social-item">
                              <a href="https://line.me/R/ti/p/%40fdp9143l" target="_blank"><img src="{% static "img/line_icon.png" %}" /></a>
                          </li>
                      </ul>
                      <div class="footer-item-container">
                          <p>© copyright 2017 Hubox</p>
                      </div>

                  </div>
              </section>
              <!-- Footer-section ends here -->

      </div>

      {% block modal %}
      <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <div class="modal-header-logo"><img src="{% static "img/logo.png" %}"></div>
                  </div>
                  <div class="modal-body">
                      <div class="corporate-form-container">
                          <form method="POST" action="{% url "join" %}">
                            {% csrf_token %}
                              <div class="form-group">
                                  <label for="company-name">公司名稱</label>
                                  <input type="text" class="form-control" placeholder="請輸入您的公司名稱" id="company-name" name="company-name" required>
                                  <p class="help-block text-danger"></p>
                              </div>
                              <div class="form-group">
                                  <label for="name">聯絡人姓名</label>
                                  <input type="text" class="form-control" placeholder="請輸入您的姓名" id="name" name="name" required>
                                  <p class="help-block text-danger"></p>
                              </div>
                              <div class="form-group">
                                  <label for="email">電子郵件</label>
                                  <input type="email" class="form-control" placeholder="請輸入您的電子郵件" id="email" name="email" required>
                                  <p class="help-block text-danger"></p>
                              </div>
                              <div class="form-group">
                                  <label for="phone">聯絡電話</label>
                                  <input type="tel" class="form-control" placeholder="請輸入您的聯絡電話" id="phone" name="phone" required>
                                  <p class="help-block text-danger"></p>
                              </div>
                              <div class="form-group">
                                  <label for="message">您的需求</label>
                                  <textarea rows="4" class="form-control" placeholder="請輸入您的需求" id="message" name="message"></textarea>
                                  <p class="help-block text-danger"></p>
                              </div>
                              <div class="corporate-submit-btn-holder">
                                  <button type="submit" class="btn btn-primary btn-block">完成送出</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {% endblock %}


{% endblock %}




{% block js %}


<script src="{% static "js/parallax.min.js" %}"></script>

<script>
    $(function() {
        $(window).scroll(function() {


            $('.fadeInBlock').each(function(i) {

                var bottom_of_object = $(this).position().top + $(this).outerHeight();
                var bottom_of_window = $(window).scrollTop() + $(window).height();

                /* Adjust the "200" to either have a delay or that the content starts fading a bit before you reach it  */
                bottom_of_window = bottom_of_window + 200;

                if (bottom_of_window > bottom_of_object) {

                    $(this).animate({
                        'opacity': '1'
                    }, 500);

                }
            });

        });
    });
</script>

<script>
    $('.parallax-window').parallax({
        naturalWidth: 1280,
        naturalHeight: 720,
        bleed: 100
    });
</script>

<script>
    function init() {
        window.addEventListener('scroll', function(e) {
            var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                shrinkOn = 300,
                header = document.querySelector(".m-nav-container");
            if (distanceY > shrinkOn) {
                classie.add(header, "m-nav-container-onscroll");
            } else {
                if (classie.has(header, "m-nav-container-onscroll")) {
                    classie.remove(header, "m-nav-container-onscroll");
                }
            }
        });
    }
    window.onload = init();
</script>
{% endblock %}
