{% extends 'base.html' %}

{% load static %}

{% block meta_description %}所有學習{% endblock %}
{% block author %}{% endblock %}

{% block og_url %}{% url "course_list" %}{% endblock %}
{% block og_title %}{{ catagory_element.title }}{% endblock %}
{% block og_description %}{{ catagory_element.description }}{% endblock %}
{% block og_image %}{{ catagory_element.banner.url }}{% endblock %}

{% block title %}所有學習{% endblock %}


{% block cover_page %}
<section class="allc-page-cover-section">
    <div class="allc-page-cover-image-holder">
        <img src="{% static "img/allc-cover.jpg" %}" />
    </div>
    <div class="allc-page-cover-caption">
        <h1>Courses</h1>
    </div>
</section>

{% endblock %}
{% block content %}
<section class="allc-page-content-section">
  <div class="customNav"></div>
  <div class="allc-page-tab-nav-container  owl-carousel">
    {% for catagory in catagory %}
    <a href="#{{ catagory.slug }}" aria-controls="home" role="tab" data-toggle="tab">
      <div role="presentation" class="allc-page-tab-nav-item-holder {{ catagory.slug }}">
        <img src="{{ catagory.logo.url }}" /><span>{{ catagory.name }}</span>
      </div>
    </a>
    {% endfor %}
  </div>

  <div class="tab-content allc-page-tab-container">
    {% for catagory in catagory %}

    <div role="tabpanel" class="tab-pane fade" id="{{ catagory.slug }}">
      <div class="allc-page-tabpanel-title-holder">
        <div class="allc-page-tabpanel-title">
          <h1>{{ catagory.name }}</h1>
        </div>
        <div class="course-container">
          {% for course in catagory.course_set.all %}
          <div class="allc-page-tab-row">
            <div class="allc-page-tab-image">
                <a href="{{ course.get_absolute_url }}"><img src="{{ course.coursemedia_set.all.0.file.url }}" /></a>
            </div>
            <div class="allc-page-tab-info">
              <a href="{{ course.get_absolute_url }}">
                  <div class="allc-page-tab-info-title">
                      {{ course.name }}
                  </div>
              </a>
              <div class="allc-page-tab-info-vendor">
                  <div class="allc-page-tab-info-vendor-logo">
                      <a href="{{ course.vendor.get_absolute_url }}">
                          <img src="{{ course.vendor.logo.url }}" />
                      </a>
                  </div>
                  <div class="allc-page-tab-info-vendor-name">
                      <a href="{{ course.vendor.get_absolute_url }}">
                          <h2>{{ course.vendor.name }}</h2>
                      </a>
                  </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}

{% block js %}
<script>
    $('.owl-carousel').owlCarousel({
        center: false,
        items: 3,
        loop: false,
        margin: 0,
        nav: true,
        navContainer: '.customNav',
        dots: false,
        responsive: {
            600: {
                items: 5
            },
            900: {
                items: 6,
            }

        }
    });




{% for catagory in catagory %}

if(window.location.hash) {
  setTimeout(function() {

  window.scrollTo(0, 0);
}, 1);
  var hash = window.location.hash
  hash = hash.replace('#','')
  if ( hash == '{{ catagory.slug }}' ) {
    $('.allc-page-cover-image-holder > img').attr('src', '{{ catagory.banner.url }}')
    $('.allc-page-cover-caption > h1').text('{{ catagory.slug }}')
    window.scrollTo(0, 0);
    $('#{{ catagory.slug }}').addClass( "active in" )

  }

}  else {
  console.log('ffg')
  {% if forloop.first %}
  $('#{{ catagory.slug }}').addClass("active in")
  {% endif %}
}

    $('.{{ catagory.slug }}').click(function (event) {
      var link = $('.{{ catagory.slug }}').parent().attr('href')
      window.location = "{% url "course_list" %}" + link
      if(window.location.hash) {
        window.scrollTo(0, 0);
        $('.allc-page-cover-image-holder > img').attr('src', '{{ catagory.banner.url }}')
        $('.allc-page-cover-caption > h1').text('{{ catagory.slug }}')

      }
    })
{% endfor %}


</script>

{% endblock %}
