{% extends 'base.html' %}

{% load static %}

{% block meta_description %}{% endblock %}
{% block author %}{% endblock %}

{% block og_url %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}
{% block og_image %}{% endblock %}

{% block title %}{% endblock %}

{% block css %}
<style>
.login-background-img {
    height: 100vh;
    background-image: url("{% static "img/login-background.jpg" %}");
    background-size: cover;
    background-position: center;
}
</style>
{% endblock %}


{% block content %}
{% if not user.userprofile %}
<div class="login-background-img">
  <div class="login-box-container">
    <div class="login-box">
      <div class="login-box-header"><h4>建立個人檔案</h4></div>
        <form class="add-merchant-form" action="" method="post">
          {% csrf_token %}
          <input id="id_name" maxlength="30" name="name" type="text" placeholder="請輸入你名字">
          <input id="id_phone" maxlength="30" name="phone" type="text" placeholder="請輸入聯絡電話">
          <input id="id_address" maxlength="200" name="address" type="text" placeholder="請輸入聯絡地址">
          <button type="submit" class="primaryAction login-btn">送出</button>
        </form>
    </div>
  </div>
</div>

{% else %}
<div class="login-background-img">
  <div class="login-box-container">
    <div class="login-box">
      <div class="login-box-header"><h4>個人檔案已建立</h4></div>
    </div>
  </div>
</div>
{% endif %}


{% endblock %}

{% block modal %}{% endblock %}


{% block js %}


{% endblock %}
