{% extends 'base.html' %}

{% load static %}

{% load markdown_deux_tags %}

{% block meta_description %}我們相信每個人都值得更精彩的人生；經由Hubox精選輕鬆有趣的學習與生活體驗，我們可以一起重新品味生活、重新定義學習一起找回想簡單的初衷。{% endblock %}
{% block author %}{% endblock %}

{% block og_url %}{% url "index" %}{% endblock %}
{% block og_title %}我們相信每個人都值得更精彩的人生；經由Hubox精選輕鬆有趣的學習與生活體驗，我們可以一起重新品味生活、重新定義學習一起找回想簡單的初衷。{% endblock %}
{% block og_description %}{% endblock %}
{% block og_image %}{% static "img/main-cover-1.jpg" %}{% endblock %}

{% block title %}{% endblock %}

{% block css %}

<!-- vendor-video-player css -->
<link rel="stylesheet" href="{% static "css/plyr.css" %}">

<style type="text/css">

    .slider-section-img-holder-5{
     background-image:url({% static "img/landing-page-01.jpg" %});
     background-size: cover;
     background-position: center;
    }

    .slider-section-img-holder-1{
     background-image:url({% static "img/main-cover-1.jpg" %});
     background-size: cover;
     background-position: center;
    }
    .slider-section-img-holder-2{
      background-image:url({% static "img/main-cover-2.jpg" %});
      background-size: cover;
      background-position: center;
    }
    .slider-section-img-holder-3{
      background-image:url({% static "img/main-cover-3.jpg" %});
      background-size: cover;
      background-position: center;
    }
    .slider-section-img-holder-4{
      background-image:url({% static "img/cover01.jpg" %});
      background-size: cover;
      background-position: center;
    }

    .corporate-section {
        width: 100%;
        margin: 10px 0px auto;
        height: 500px;
        background-image: url({% static "img/corporate.jpg" %});
        background-size: cover;
    }

</style>

{% endblock %}

{% block cover_page %}{% endblock %}

{% block content %}
  <!-- slider-section starts here-->
  <section class="slider-section">
      <div id="lightSliderSingleCover">
        <div class="slider-section-img-holder-5">
            <!-- <div class="slider-caption-holder">
                <div class="slider-caption-title-holder">
                    <div class="slider-caption-title-1">Learn</div>
                </div>
                <div class="slider-caption-text-holder">
                    <div class="slider-caption-text-line-1">學習</div>
                    <div class="slider-caption-text-line-2">就是這麼有趣</div>
                </div>
            </div> -->
        </div>
          <div class="slider-section-img-holder-1">
              <div class="slider-caption-holder">
                  <div class="slider-caption-title-holder">
                      <div class="slider-caption-title-1">Learn</div>
                  </div>
                  <div class="slider-caption-text-holder">
                      <div class="slider-caption-text-line-1">學習</div>
                      <div class="slider-caption-text-line-2">就是這麼有趣</div>
                  </div>
              </div>
          </div>
          <div class="slider-section-img-holder-2">
              <div class="slider-caption-holder">
                  <div class="slider-caption-title-holder">
                      <div class="slider-caption-title-2">Taste</div>
                  </div>
                  <div class="slider-caption-text-holder">
                      <div class="slider-caption-text-line-1">品味</div>
                      <div class="slider-caption-text-line-2">屬於自己的調調</div>
                  </div>
              </div>
          </div>
          <div class="slider-section-img-holder-3">
              <div class="slider-caption-holder">
                  <div class="slider-caption-title-holder">
                      <div class="slider-caption-title-3">Life</div>
                  </div>
                  <div class="slider-caption-text-holder">
                      <div class="slider-caption-text-line-1">生活</div>
                      <div class="slider-caption-text-line-2">可以這麼好玩</div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- slider-section ends here -->
  <section class="blank-section"></section>
  <!-- focus-course-section starts here -->
    <section class="focus-course-section">
        <div class="focus-course-container">
            <div class="focus-course-image-holder">
                <img src="{{ index.photo.url }}" />
            </div>
            <div class="focus-course-info-holder">
                <div class="focus-course-info-title">
                    <h1>{{ index.name }}</h1>
                </div>
                <div class="focs-course-info-content">
                    {{ index.content|markdown }}
                </div>
                <div class="focus-course-info-btn">
                    <a href="{{ index.more }}" type="button" class="btn btn-info">馬上了解</a>
                </div>
            </div>
        </div>
    </section>
  <!-- focus-course-section ends here -->

  <section class="blank-section"></section>
  <!-- course-section starts here -->

<section class="course-page-content-section">

<section class="course-section">
  {% for role in index.indexrole_set.all %}
    <div class="course-header">
        <div class="course-header-logo"><img src="{% static 'img/logo.png' %}" /></div>
        <h2>{{ role.name }}</h2>
        <div class="course-header-btn-holder">
            <a href="{{ role.more }}" type="button" class="btn btn-info">了解更多</a>
        </div>
    </div>
    <div class="course-container">
      <div class="lightSliderCourse">
        {% if role.mode == "指定分類" %}
        {% for course in role.catagory.course_set.all|slice:":6" %}
        <!-- 課程 -->
        <div class="course-tab-row">
          <div class="course-tab-image">
              <a href="{{ course.get_absolute_url }}"><img src="{{ course.coursemedia_set.all.0.file.url }}" /></a>
          </div>
          <div class="course-tab-info">
              <a href="{{ course.get_absolute_url }}">
                  <div class="course-tab-info-title">
                      {{ course.name }}
                  </div>
              </a>
              <div class="course-tab-info-vendor">
                  <div class="course-tab-info-vendor-logo">
                      <a href="{{ course.vendor.get_absolute_url }}">
                          <img src="{{ course.vendor.logo.url }}" />
                      </a>
                  </div>
                  <div class="course-tab-info-vendor-name">
                      <a href="{{ course.vendor.get_absolute_url }}">
                          <h2>{{ course.vendor.name }}</h2>
                      </a>
                  </div>
              </div>
          </div>
        </div>
        <!-- 課程 -->
        {% endfor %}
        {% elif role.mode == "隨機" %}
        {% for course in course|slice:":6" %}
        <!-- 課程 -->
        <div class="course-tab-row">
          <div class="course-tab-image">
              <a href="{{ course.get_absolute_url }}"><img src="{{ course.coursemedia_set.all.0.file.url }}" /></a>
          </div>
          <div class="course-tab-info">
              <a href="{{ course.get_absolute_url }}">
                  <div class="course-tab-info-title">
                      {{ course.name }}
                  </div>
              </a>
              <div class="course-tab-info-vendor">
                  <div class="course-tab-info-vendor-logo">
                      <a href="{{ course.vendor.get_absolute_url }}">
                          <img src="{{ course.vendor.logo.url }}" />
                      </a>
                  </div>
                  <div class="course-tab-info-vendor-name">
                      <a href="{{ course.vendor.get_absolute_url }}">
                          <h2>{{ course.vendor.name }}</h2>
                      </a>
                  </div>
              </div>
          </div>
        </div>
        <!-- 課程 -->
        {% endfor %}
        {% elif role.mode == "特定課程" %}
        {% for course in role.course.all|slice:":6" %}
        <!-- 課程 -->
        <div class="course-tab-row">
          <div class="course-tab-image">
              <a href="{{ course.get_absolute_url }}"><img src="{{ course.coursemedia_set.all.0.file.url }}" /></a>
          </div>
          <div class="course-tab-info">
              <a href="{{ course.get_absolute_url }}">
                  <div class="course-tab-info-title">
                      {{ course.name }}
                  </div>
              </a>
              <div class="course-tab-info-vendor">
                  <div class="course-tab-info-vendor-logo">
                      <a href="{{ course.vendor.get_absolute_url }}">
                          <img src="{{ course.vendor.logo.url }}" />
                      </a>
                  </div>
                  <div class="course-tab-info-vendor-name">
                      <a href="{{ course.vendor.get_absolute_url }}">
                          <h2>{{ course.vendor.name }}</h2>
                      </a>
                  </div>
              </div>
          </div>
        </div>
        <!-- 課程 -->
        {% endfor %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
</section>
  <!-- course-section ends here -->
  <section class="vendor-section">
    <div class="vendor-header">
        <h2>工作坊推薦</h2>
        <div class="vendor-header-btn-holder">
            <a href="{% url "vendor_list" %}" type="button" class="btn btn-info">了解更多</a>
        </div>
    </div>
    <div class="vendor-container">
        <div class="lightSliderVendor">
          <!-- Vendor card No.1 starts here-->
          {% for index in index.indexvendor_set.all %}
          <div class="allv-page-vendor-card">
              <div class="allv-page-profile-row">
                  <a href="{{ index.vendor.get_absolute_url }}">
                      <div class="allv-page-vendor-card-image">
                          <img src="{{ index.vendor.logo.url }}" />
                      </div>
                  </a>
                  <a href="{{ index.vendor.get_absolute_url }}">
                      <div class="allv-page-vendor-card-title">
                          <h1>{{ index.vendor.name }}</h1>
                          <p>{{ index.vendor.catagory }}</p>
                          <div class="allv-page-vendor-card-social-holder">
                              <a href="{{ index.vendor.facebook }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                              <a href="{{ index.vendor.instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                              <a href="{{ index.vendor.youtube }}"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="allv-page-statistic-holder">
                  <div class="allv-page-statistic-course">
                      <div class="allv-page-statistic-course-number">
                          {{ index.vendor.course_set.all|length }}
                      </div>
                      <div class="allv-page-statistic-course-label">
                          <span>學習體驗</span>
                      </div>
                  </div>
                  <div class="allv-page-statistic-follow">
                      <div class="allv-page-statistic-follow-number">
                        {{ index.vendor.subscribe_number }}
                      </div>
                      <div class="allv-page-statistic-follow-label">
                          <span>追蹤</span>
                      </div>
                  </div>
                  <div class="allv-page-statistic-comment">
                      <div class="allv-page-statistic-comment-number">
                          4
                      </div>
                      <div class="allv-page-statistic-comment-label">
                          <span>粉絲評鑑</span>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}

        </div>
    </div>

  </section>
  <!-- Corporate-srction starts here -->

</section>
  <section class="corporate-section">
      <div class="corporate-container">
          <div class="corporate-info-holder">
              <div class="corporate-info-title">
                  <h1>揪團來學</h1>
              </div>
              <div class="corporate-info-content">
                  親朋好友一起來，揪團加入hubox，人數超過五位(含以上)的團體或公司，請點擊下方聯絡我們按鈕並留下表單資訊，Hubox的專員會馬上與您聯絡，為您及您的夥伴量身規劃出最適合你們的學習體驗。
              </div>
              <div class="corporate-info-btn">
                  <a href="#" type="button" class="btn btn-info" data-toggle="modal" data-target="#Modal">聯絡我們</a>
              </div>
          </div>
      </div>
  </section>
  <!-- Corporate-srction ends here -->

</div>

{% endblock %}

{% block modal %}
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header-logo"><img src="{% static "img/logo.png" %}"></div>
            </div>
            <div class="modal-body">
                <div class="corporate-form-container">
                    <form>
                        <div class="form-group">
                            <label for="name">聯絡人姓名</label>
                            <input type="text" class="form-control" placeholder="請輸入您的姓名" id="name" required>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <label for="email">電子郵件</label>
                            <input type="email" class="form-control" placeholder="請輸入您的電子郵件" id="email" required>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <label for="phone">聯絡電話</label>
                            <input type="tel" class="form-control" placeholder="請輸入您的聯絡電話" id="phone" required>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <label for="message">您的需求</label>
                            <textarea rows="4" class="form-control" placeholder="請輸入您的需求" id="message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="corporate-submit-btn-holder">
                            <button type="submit" class="btn btn-primary btn-block">完成送出</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}


<!-- vendor-video-player js -->
<script src="{% static "js/plyr.js" %}"></script>

<!-- parallax js -->
<script src="{% static "js/parallax.min.js" %}"></script>


<!-- lightSlider initiate -->
<script>
    $('#lightSliderSingleCover').lightSlider({
        gallery: false,
        item: 1,
        loop: true,
        speed: 400,
        freeMove:false,
        pause: 3000,
        auto: true,
        slideMargin: 0,
    });


    $('.lightSliderCourse').lightSlider({
        gallery: false,
        item: 4,
        loop: true,
        pager: false,
        speed: 400,
        freeMove: false,
        pause: 3000,
        slideMargin: 10,
        responsive: [{
            breakpoint: 1100,
            settings: {
                item: 3.5,
                slideMove: 1,
            }
        }, {
            breakpoint: 900,
            settings: {
                item: 2.5,
                slideMove: 1,
            }
        }, {
            breakpoint: 800,
            settings: {
                item: 2.2,
                slideMove: 1,
            }
        }, {
            breakpoint: 450,
            settings: {
                item: 1.5,
                slideMove: 1
            }
        }]
    });

    $('.lightSliderVendor').lightSlider({
        gallery: false,
        item: 4.5,
        loop: true,
        speed: 400,
        freeMove: false,
        pause: 3000,
        slideMargin: 15,
        responsive: [{
            breakpoint: 1400,
            settings: {
                item: 4,
                slideMove: 1,
            }
        }, {
            breakpoint: 1100,
            settings: {
                item: 3.5,
                slideMove: 1,
            }
        }, {
            breakpoint: 930,
            settings: {
                item: 3.1,
                slideMove: 1,
            }
        }, {
            breakpoint: 800,
            settings: {
                item: 2.5,
                slideMove: 1,
            }
        }, {
            breakpoint: 600,
            settings: {
                item: 1.5,
                slideMove: 1
            }
        }, {
            breakpoint: 500,
            settings: {
                item: 1.4,
                slideMove: 1,
            }
        }, {
            breakpoint: 350,
            settings: {
                item: 1.3,
                slideMove: 1,
            }
        }, ]
    });
    $('#lightSliderThumbnailCover').lightSlider({
        gallery: true,
        item: 1,
        loop: true,
        speed: 400,
        freeMove: false,
        slideMargin: 0,
        galleryMargin: 2,
        thumbItem: 6,
        thumbMargin: 2,
        responsive: [{
            breakpoint: 800,
            settings: {
                thumbItem: 4,
                slideMove: 1,
            }
        }],
    });
    $('#lightSliderRelated').lightSlider({
        gallery: false,
        item: 4,
        loop: true,
        pager: false,
        speed: 400,
        freeMove: false,
        pause: 3000,
        slideMargin: 10,
        responsive: [{
            breakpoint: 1100,
            settings: {
                item: 3.5,
                slideMove: 1,
            }
        }, {
            breakpoint: 900,
            settings: {
                item: 2.5,
                slideMove: 1,
            }
        }, {
            breakpoint: 800,
            settings: {
                item: 2.2,
                slideMove: 1,
            }
        }, {
            breakpoint: 450,
            settings: {
                item: 1.5,
                slideMove: 1
            }
        }],
    });
</script>
<!-- owl-carousel initiate -->
<script>
    $('.owl-carousel').owlCarousel({
        center: false,
        items: 3.5,
        loop: true,
        margin: 0,
        nav: true,
        navContainer: '.customNav',
        dots: false,
        responsive: {
            600: {
                items: 5
            },
            900: {
                items: 6,
            }

        }
    });
</script>
<!-- nav-scroll effect initiate -->
<script>
    function init() {
        window.addEventListener('scroll', function(e) {
            var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                shrinkOn = 300,
                header = document.querySelector(".m-nav-container");
            if (distanceY > shrinkOn) {
                classie.add(header, "m-nav-container-onscroll");
            } else {
                if (classie.has(header, "m-nav-container-onscroll")) {
                    classie.remove(header, "m-nav-container-onscroll");
                }
            }
        });
    }
    window.onload = init();
</script>
<!-- parallax effect initiate -->
<script>
    $('.parallax-window').parallax({
        naturalWidth: 1280,
        naturalHeight: 720,
        bleed: 100
    });
</script>
<!-- fade-in effect initiate -->
<script>
    $(function() {
        $(window).scroll(function() {


            $('.fadeInBlock').each(function(i) {

                var bottom_of_object = $(this).position().top + $(this).outerHeight();
                var bottom_of_window = $(window).scrollTop() + $(window).height();

                /* Adjust the "200" to either have a delay or that the content starts fading a bit before you reach it  */
                bottom_of_window = bottom_of_window + 200;

                if (bottom_of_window > bottom_of_object) {

                    $(this).animate({
                        'opacity': '1'
                    }, 500);

                }
            });

        });
    });
</script>
<!-- vendor-video-player initiate -->
<script>
    plyr.setup();
</script>
{% endblock %}
