{% extends 'base.html' %}

{% load static %}

{% block meta_description %}{% endblock %}
{% block author %}{% endblock %}

{% block og_url %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}
{% block og_image %}{% endblock %}

{% block title %}{% endblock %}

{% block css %}
<style>
.login-background-img {
    height: 100vh;
    background-image: url("{% static "img/login-background.jpg" %}");
    background-size: cover;
    background-position: center;
}
</style>
{% endblock %}


{% block content %}


<div class="login-background-img">
  <div class="login-box-container">
    <div class="login-box">
      <div class="login-box-header"><h4>訂單已建立</h4></div>
      <div class="login-box-footer">
        <p>訂單編號：{{ ordering.order_number }}</p>
        <p>訂單內容：</p>
        <hr>
        {% for item in ordering.cart.cartitem_set.all %}
        <p>{{ item.available_time.course.vendor.name }}-{{ item.available_time.course.name }}</p>
        <p>{{ item.available_time.date|date:"Y-m-d" }} {{ item.available_time.start_time|date:"H:i" }}～{{ item.available_time.end_time|date:"H:i" }}</p>
        <p>參加人數：{{ item.participants_number }}</p>
        <p>商品金額：{{ item.item_total }}</p>
        <hr>
        {% endfor %}
        <p>訂單金額：{{ ordering.cart.total }}</p>
      </div>

        <form class="add-merchant-form" action="https://core.spgateway.com/MPG/mpg_gateway" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="primaryAction login-btn">前往付款</button>

        </form>
        <form class="cancel-order" action="{% url "cancel_ordering" %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="username" value="{{ request.user }}">
          <input type="hidden" name="ordering" value="{{ ordering.pk }}">
          <button type="submit" class="primaryAction login-btn">取消訂單</button>
        </form>
    </div>
  </div>
</div>

{% endblock %}

{% block modal %}{% endblock %}

{% block js %}{% endblock %}
